body {
    padding: auto;
    background-size: auto;
    background-color: #FEF884;
    margin: 0px;
}


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select {
    width: 30%;
    /* 80% width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    margin-left: 0px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    align-items: center;
    position: relative;
    left: 360px;
}

label {
    text-align: center;
    font-size: 18px;
    position: relative;
    left: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgb(43, 56, 45);
}

input.email {
    margin-left: 54px;
}

select {
    margin-left: -25px;
}

textarea {
    width: 50%;
    /* 80% width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    align-items: center;
    position: relative;
    left: 300px;
}

.comment {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    /* position: relative; */
    left: 500px;
}


/* Style the donate button with a specific background color etc */

button {
    background-color: #04AA6D;
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 500px;
    font-size: 24px;
}


/* When moving the mouse over the donate button, add a darker green color */

button:hover {
    background-color: #45a049;
}


/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 28px;
}

h4 {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 24px;
}


/* Nav Bar */

nav {
    display: flex;
    background: linear-gradient(90deg, #b2bf43 1.18%, #7c8b30 100%);
    border: none;
    Justify-content: space-between;
    align-items: center;
    height: 100px;
}

.org-name {
    font-family: 'The Nautigal', cursive;
    font-size: 48px;
    color: white;
    padding-left: 20px;
    white-space: nowrap
}


/* page number*/

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.navbar--icon {
    height: 90px;
    padding-left: 50px;
}

nav>p {
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    padding-left: 100px;
    color: white;
    letter-spacing: 0.03em;
}

nav>p>a {
    text-decoration: none;
    color: white;
}

.about {
    margin-left: auto;
}

.location {
    margin-right: 100px
}